extends ./layout

block body
    .index
        md-toolbar.md-whiteframe-4dp
            .md-toolbar-tools
                md-button.md-icon-button(aria-label='Show Menu', ng-click='app.toggleSideMenu()')
                    md-icon(md-svg-icon='images/menu.svg')
                h3
                    span sailsAngularMaterialStarter
                div(flex)
                md-menu
                    md-button(ng-click='app.toggleUserMenu($mdOpenMenu, $event)') {{ currentUser.username }}&nbsp;
                        md-icon.md-menu-origin(md-svg-icon='images/dropdown.svg')
                    md-menu-content(width='4')
                        md-menu-item
                            md-button(ng-click='app.editProfile($event)') Edit Profile
                        md-menu-item
                            md-button(ng-click='app.changePassword($event)') Change Password
                        md-menu-divider
                        md-menu-item
                            md-button(ng-click='app.logout()') Sign Out

        div(flex, layout='row')
            md-sidenav(md-component-id='menu', ng-click='app.toggleSideMenu()')
                md-toolbar.md-whiteframe-4dp
                    .md-toolbar-tools
                        h3
                            span MENU
                md-list(flex)
                    md-list-item(
                        ng-repeat='menuItem in app.menuItems'
                        ng-href='{{ menuItem.url }}',
                        ng-show='!menuItem.requiredPermission || permissions[menuItem.requiredPermission]')

                        h3.md-title {{ menuItem.label }}
            md-content(ng-view, autoscroll, flex)
