md-dialog
    form(data-ng-submit='vm.submit()')
        md-toolbar.md-toolbar-tools
            h3 Change Password
            div(flex)
            md-button.md-icon-button(ng-click='vm.cancel()')
                md-icon(md-svg-src='images/clear.svg')
        md-dialog-content(layout-padding)
            .flex.flex-col
                md-input-container.md-block
                    label New Password
                    input.form-control(ng-model='vm.newPassword', type='password')
                md-input-container.md-block
                    label Confirm Password
                    input.form-control(ng-model='vm.confirmPassword', type='password')
        md-dialog-actions
            md-button.md-primary.md-raised(type ='submit' ng-disabled='!vm.isValid()') Change Password
