md-dialog(aria-label='Change Password')
    form(data-ng-submit='vm.submit()')
        md-toolbar.md-toolbar-tools
            h3 Change Password
            div(flex)
            md-button.md-icon-button(ng-click='vm.cancel()')
                md-icon(md-svg-src='images/clear.svg', aria-label='Close dialog')
        md-dialog-content.md-dialog-content(layout='column', layout-align='center center')
            md-input-container
                label New Password
                input.form-control(ng-model='vm.newPassword', type='password')
            md-input-container
                label Confirm Password
                input.form-control(ng-model='vm.confirmPassword', type='password')
            md-button.md-primary.md-raised(type ='submit' ng-disabled='!vm.isValid()') Change Password
